openapi: 3.0.3
info:
  title: McGill University Dataverse (Borealis) - Native Dataverses Info API
  description: Dataverse Native REST API serving the McGill University Dataverse research-data repository on the Borealis (Scholars Portal) platform. Provides programmatic access to the McGill collection, its contents, and installation info. Faithful subset of the upstream Dataverse OpenAPI (Dataverse v6.8.1-SP); response schemas derived from verified live responses. Write/admin operations require an X-Dataverse-key API token.
  version: v6.8.1-SP
  contact:
    name: McGill Research Data Management
    email: rdm.library@mcgill.ca
  license:
    name: Apache-2.0
    url: https://github.com/IQSS/dataverse/blob/develop/LICENSE.md
servers:
- url: https://borealisdata.ca/api
  description: Borealis (Scholars Portal) Dataverse hosting the McGill University Dataverse
tags:
- name: Info
paths:
  /info/metrics/dataverses:
    get:
      operationId: Metrics_getDataversesAllTime
      parameters:
      - name: parentAlias
        in: query
        schema:
          type: string
      summary: Get collection count metric
      responses:
        '200':
          description: Metric result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      tags:
      - Info
  /info/version:
    get:
      operationId: Info_getInfo
      summary: Get version and build information
      description: Get version and build information
      tags:
      - Info
      responses:
        '200':
          description: Version and build information.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ApiResponse'
                - type: object
                  properties:
                    data:
                      $ref: '#/components/schemas/Version'
components:
  schemas:
    ApiResponse:
      type: object
      description: Standard Dataverse JSON response envelope.
      properties:
        status:
          type: string
          enum:
          - OK
          - ERROR
          description: Overall request status.
        data:
          type: object
          description: Payload object (shape depends on the endpoint).
          additionalProperties: true
        message:
          type: string
          description: Human-readable message, present on errors.
      required:
      - status
    Version:
      type: object
      description: Dataverse software version and build info.
      properties:
        version:
          type: string
          description: Dataverse release version.
        build:
          type:
          - string
          - 'null'
          description: Build identifier.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Dataverse-key
      description: Dataverse API token, required for write/admin and private-data operations.
